<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.dao.DynamicSqlMapper">
  <!--if 语句的-->
  <select id="queryUserList" resultType="com.mybatis.pojo.User">
    select * from tb_user where sex = 1
    <if test="name!=null and name.trim()!=''">
      and name like concat("%",#{name},"%");
    </if>
  </select>
  <!--choose when语句-->
  <select id="queryUserListByNameOrAge" resultType="com.mybatis.pojo.User">
    select * from tb_user where sex=1
    <choose>
      <when test="name!=null and name.trim()!=''">
        and name like concat("%",#{name},"%");
      </when>
      <when test="age!=null">
        and age = #{age};
      </when>
      <otherwise>
        and name='大鹏'
      </otherwise>
    </choose>
  </select>
  <!--where   and   set to select database-->
  <select id="queryUserListByNameAndAge" resultType="com.mybatis.pojo.User">
    select * from tb_user
    <where>
      <if test="name!=null and name.trim()!=''">
        and name like concat("%",#{name},"%")
      </if>
      <if test="age!=null">
        and age=#{age}
      </if>
    </where>
  </select>
  <!--使用trim来处理开头和结尾-->
  <update id="updateUser" parameterType="com.mybatis.pojo.User">
    UPDATE tb_user
    <trim prefix="set" suffixOverrides=",">
      <if test="userName!=null">user_name = #{userName},</if>
      <if test="password!=null">password = #{password},</if>
      <if test="name!=null">name = #{name},</if>
      <if test="age!=null">age = #{age},</if>
      <if test="sex!=null">sex = #{sex},</if>
      <if test="birthday!=null">birthday = #{birthday},</if>
      updated = now(),
    </trim>
    WHERE
    (id = #{id});
  </update>
  <!--遍历一个集合-->
  <select id="queryUserListByIds" resultType="com.mybatis.pojo.User">
    select * from tb_user where id in 
    <foreach collection="list" item="id" close=")" open="(" separator=",">
      #{id}
    </foreach>
  </select>
</mapper>